body{	
	margin-top: 100px;
	background-color: #ffffff;
	color: #000000;
}


body section:nth-child(2){
	margin-top: -1em;
}

.navbar-expand-md{
	padding: 0rem 6rem;
	font-weight: 500;
	background-color: #ffffff;
	height: 65px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25)
}

.navbar-brand img{
	width: 60px;
	height: 60px;
	box-shadow: none;
}
.navbar-light .navbar-nav .active>.nav-link::after {
	content: '';
	display: block;
	position: relative;
	width: 0px;
	left: 50%;
	bottom: -2px;
	height: 2px;
	background: #9BC1C9;
	transition: all .10s;
}

.navbar-light .navbar-nav .active>.nav-link{
	color: #000000;
}

.navbar-light .navbar-nav .active>.nav-link:hover::after {
	width: 100%;
	left: 0;
	background: #9BC1C9 !important;
	color: #9BC1C9 !important;
}

.navbar-nav li{
	padding-right: 60px; 
	text-align: center;
	background-color: #ffffff;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

@media screen and (max-width: 768px){
	.navbar-nav li{
		padding-right: 0px;
	}

	.navbar-expand-md{
		background-color: #ffffff;
		box-shadow: none;
		padding: 0px;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25)
	}


	.navbar-light .navbar-toggler {
		margin-right: 1em;
	}

	.navbar-nav{
	color: #000000;
	background-color: #ffffff;
	width: 100%;
}

	.navbar-brand img{
		margin-left: 1em;
		margin-top: -0.5em;
		width: 60px;
		height: 60px;
}

	.station .row div:nth-child(1){
		padding-top: 0em !important;
}

	.station .row div img{
		display: none;
}

	.ourstory .col-lg-6:nth-child(2){
	padding-top: 0em !important;
}

	.longplan .col-md-4{
		margin-bottom: 2em;
	}

	.appdata .row h2{
	padding-top: 2em !important;
}

	.appdata .row .list2, .appdata .row .payment2{
	display: none;
}

	.team .card{
		margin-bottom: 12px;
	}

	.ahead2{
		display: none;
	}

	.partner2 .row .col-md-4{
		margin-bottom: 1.5em;
	}

	.terms .container h1{
		text-align: left;
	}

	.privacy .container h1{
		text-align: left;
	}

}

@media (min-width: 768px){
	.ahead1{
		display: none;
	}

	.appdata .row .list1, .appdata .row .payment1{
		display: none;
}

}

@media (max-width: 996px){

	.partner1 .row img{
		height: 65%;
		margin-top: 2.5em;
	}

	.station .row img{
		width: 125% !important;
	}

	.station .row div:nth-child(1){
		padding-top: 2em !important;
		padding-bottom: 1em;
}
	.ourstory .col-lg-6:nth-child(2){
		padding-top: 2em !important;
	}
}

@media (max-width: 1006px){
	.navbar{
		height: 70px;
	}
}

.navbar-nav{
	color: #9BC1C9;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
	color: #9BC1C9 !important;
	text-decoration: none;
}

.navbar-toggler{
  background-color: #ffffff !important;
  border: none;
  font-size: 2rem;
}

.navbar-light .navbar-toggler-icon{
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBpZD0iTGF5ZXJfMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgaGVpZ2h0PSI1MTJweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHdpZHRoPSI1MTJweCI+PGc+PHBhdGggZD0ibTQ2NC44ODMgNjQuMjY3aC00MTcuNzY2Yy0yNS45OCAwLTQ3LjExNyAyMS4xMzYtNDcuMTE3IDQ3LjE0OSAwIDI1Ljk4IDIxLjEzNyA0Ny4xMTcgNDcuMTE3IDQ3LjExN2g0MTcuNzY2YzI1Ljk4IDAgNDcuMTE3LTIxLjEzNyA0Ny4xMTctNDcuMTE3IDAtMjYuMDEzLTIxLjEzNy00Ny4xNDktNDcuMTE3LTQ3LjE0OXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIGZpbGw9IiMxMjQ1NTkiLz48cGF0aCBkPSJtNDY0Ljg4MyAyMDguODY3aC00MTcuNzY2Yy0yNS45OCAwLTQ3LjExNyAyMS4xMzYtNDcuMTE3IDQ3LjE0OSAwIDI1Ljk4IDIxLjEzNyA0Ny4xMTcgNDcuMTE3IDQ3LjExN2g0MTcuNzY2YzI1Ljk4IDAgNDcuMTE3LTIxLjEzNyA0Ny4xMTctNDcuMTE3IDAtMjYuMDEzLTIxLjEzNy00Ny4xNDktNDcuMTE3LTQ3LjE0OXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIGZpbGw9IiMxMjQ1NTkiLz48cGF0aCBkPSJtNDY0Ljg4MyAzNTMuNDY3aC00MTcuNzY2Yy0yNS45OCAwLTQ3LjExNyAyMS4xMzctNDcuMTE3IDQ3LjE0OSAwIDI1Ljk4IDIxLjEzNyA0Ny4xMTcgNDcuMTE3IDQ3LjExN2g0MTcuNzY2YzI1Ljk4IDAgNDcuMTE3LTIxLjEzNyA0Ny4xMTctNDcuMTE3IDAtMjYuMDEyLTIxLjEzNy00Ny4xNDktNDcuMTE3LTQ3LjE0OXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIGZpbGw9IiMxMjQ1NTkiLz48L2c+IDwvc3ZnPgo=');
}


.container{
	text-align: center;
	background-color: #ffffff;
}

.jumbotron{
	margin-bottom: -30px;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}

.station .row div:nth-child(1){
	padding-top: 3em;
}

.station .row img{
	height: 100%;
	width: 100%;
}

.ourstory h2, .longplan h2, .aim h2{
		font-weight: 400;
}

.ourstory{
	margin-top: 5em;
}

.ourstory img{
	height: 100%;
	width: 100%;
}
.ourstory .col-lg-6:nth-child(2){
	padding-top: 1em;
	text-align: center;
}

.longplan{
	margin-top: 4em;
}

.longplan, .longplan .container, .longplan .jumbotron{
	background-color: #F5F8FB !important;
}

.longplan .row{
	margin-top: 4em;
}

.longplan p{
	padding: 2em 2em 0em 2em;
}

.longplan .col-md-4:nth-child(1) img{
	height: 22%;
}

.longplan .col-md-4:nth-child(2) img{
	height: 45%;
}

.longplan .col-md-4:nth-child(3) img{
	height: 45%;
}

.appdata .row:nth-child(1){
	margin-top: 2em !important;
}


.appdata .row h2{
	padding-top: 5em;
}

.partner2, .partner2 .container, .partner2 .jumbotron{
	background-color: #9BC1C9;
}
.partner1 .row h1{
	margin-top: 2.5em;
}


.teamhead{
	text-align: left !important;
	padding-top: 40px;
	text-decoration: overline;
}

.team{
	padding-top: 50px;
	margin-bottom: 50px; 
}


.team .card:hover{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}

.card{
	border: none;
	padding-right: 25px;
}

.contact, .contact .container, .contact .jumbotron{
	background-color: #AAE2E2;
}

.contact .jumbotron{
	margin-bottom: 0px;
}

.contactdetails .row{
	padding-top: 4em;
}


.privacy .container {
	text-align: justify;
}

.privacy .container ul li{
	text-align: justify;
}

.terms .container{
	text-align: justify !important;
}

.terms .container ul li{
	text-align: justify;
}

.footer{
	background-color: #0072BC;
	text-align: center;
	margin-bottom: 0px;
	color: #ffffff;
}

.footer > ul{
	list-style: none;
	padding-top: 20px;
	margin-bottom: 0rem;
}

.footer li{
	display: inline-block;
	padding-right: 20px;
	font-size: 25px;
	background-color: #0072BC;
}
.footer a{
	color: #ffffff;
}
.footer p{
	margin-bottom: .1rem
}

.footer .copyright{
	padding-bottom: 16px;
}
